<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сложение обыкновенных дробей</title>
    <link href="/static/page.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Сложение обыкновенных дробей</h1>

        <h2>1. Правило сложния дробей с одинаковыми знаменателями</h2>
        <p>Чтобы сложить дроби с одинаковыми знаменателями, нужно:</p>
        <ol>
            <li>Сложить их числители.</li>
            <li>Знаменатель оставить тот же.</li>
            <li>При необходимости сократить дробь.</li>
        </ol>
        <p>\(\frac{a}{c} + \frac{b}{c} = \frac{a+b}{c}\)</p>
        <div class="example">
            <p><strong>Пример:</strong> \(\frac{2}{5} + \frac{1}{5} = \frac{2+1}{5} = \frac{3}{5}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача.</strong> В первый день вскопали \(\frac{4}{15}\) всего огорода, а во второй день –\(\frac{7}{15}\) всего огорода. Какую часть огорода вскопали за \(2\) дня? </p>
            <p><strong>Решение:</strong> Чтобы найти, какую часть огорода вспахали за \(2\) дня, нужно сложить, сколько вспахали в первый день, и сколько вспахали во второй день: </p>
            <p>\(\frac{4}{15} + \frac{7}{15} = \frac{11}{15}\) часть.</p>
            <p><strong>Ответ:</strong> За \(2\) дня вспахали \(\frac{11}{15}\) часть огорода.</p>
        </div>

        <h2>2. Правило сложения дробей с разными знаменателями</h2>
        <p>Чтобы сложить дроби с разными знаменателями, надо:</p>
        <ol>
            <li>Найти наименьшее общее кратное (НОК) знаменателей.</li>
            <li>Привести дроби к общему знаменателю, умножив числитель и знаменатель каждой дроби на соответствующее число.</li>
            <li>Сложить числители, а знаменатель оставить тот же.</li>
            <li>При необходимости сократить дробь.</li>
        </ol>
        <div class="example">
            <p><strong>Пример:</strong> \(\frac{1}{3} + \frac{1}{4}\)</p>
            <p>НОК(3, 4) = 12</p>
            <p>\(\frac{1}{3} = \frac{1 \cdot 4}{3 \cdot 4} = \frac{4}{12}\)</p>
            <p>\(\frac{1}{4} = \frac{1 \cdot 3}{4 \cdot 3} = \frac{3}{12}\)</p>
            <p>\(\frac{4}{12} + \frac{3}{12} = \frac{4+3}{12} = \frac{7}{12}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача.</strong> Два велосипедиста двигаются навстречу друг друга. Первый велосипедист за \(1\) ч проезжает \(\frac{1}{5}\) расстояния между ними, а второй – \(\frac{1}{4}\) этого расстояния. На какую часть расстояния они сближаются каждый час? </p>
            <p><strong>Решение:</strong> Для решения задачи надо сложить расстояние, которое за \(1\) ч проезжает первый велосипедист \(\frac{1}{5}\) и расстояние, которое проезжает за \(1\) ч второй велосипедист \(\frac{1}{4}\).</p>
            <p>Приведём дроби к наименьшему общему знаменателю \(20\):</p>
            <p>\(\frac{1}{5} = \frac{4}{20}\), \(\frac{1}{4} = \frac{5}{20}\).</p>
            <p>\(\frac{1}{5} + \frac{1}{4} = \frac{4}{20} + \frac{5}{20} = \frac{9}{20}\) – часть. </p>
            <p><strong>Ответ:</strong> Каждый час велосипедисты сближаются на \(\frac{9}{20}\) часть.</p>
        </div>

        <h2>3. Правило сложения смешанных чисел</h2>
        <p>Чтобы найти сумму смешанных чисел, надо:</p>
        <ol>
            <li>Дробные части этих чисел привести к наименьшему общему знаменателю.</li>
            <li>Отдельно выполнить сложение целых и отдельно дробных частей.</li>
            <li>При необходиости сократить дробь, выделить целую часть и прибавить её к полученной целой части.</li>
        </ol>
        <div class="example">
            <p><strong>Пример:</strong> \(6 \frac{4}{9} + 2 \frac{5}{6}\)</p>
            <p>Складываем целые части: \(6 + 2 = 8\).</p>
            <p>Складываем дробные части: \(\frac{4}{9} + \frac{5}{6}\).</p>
            <p>НОК(9, 6) = 18</p>
            <p>\(\frac{4}{9} = \frac{8}{18}\), \(\frac{5}{6} = \frac{15}{18}\)</p>
            <p>\(\frac{8}{18} + \frac{15}{18} = \frac{23}{18}=1 \frac{5}{18}\)</p>
            <p>Итог: \(8 + 1\frac{5}{18} = 9 \frac{5}{18}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача 1.</strong> Маша собрала \(6 \frac{1}{8}\) кг малины, а Миша – \(5 \frac{6}{8}\) кг. Сколько килограммов малины собрали дети? </p>
            <p><strong>Решение:</strong> Для того, чтобы найти, сколько килограммов малины собрали дети, нужно сложить, сколько килограммов собрала Маша, и сколько килограммов собрал Миша: </p>
            <p>\(6 \frac{1}{8} + 5 \frac{6}{8} = 11 \frac{7}{8}\) кг. </p>
            <p><strong>Ответ:</strong> \(11 \frac{7}{8}\) кг малины собрали дети.</p>
        </div>

        <div class="example">
            <p><strong>Задача 2.</strong> Скорость теплохода по озеру равна \(26 \frac{3}{4}\) км/ч. Найдите скорость теплохода по течению реки, если известно, что скорость течения реки равна \(3 \frac{1}{12}\) км/ч.</p>
            <p><strong>Решение:</strong> Чтобы найти скорость теплохода по течению реки, надо к скорости теплохода по озеру \(26 \frac{3}{4}\) км/ч прибавить скорость течения реки \(3 \frac{1}{12}\) км/ч.</p>
            <p>Приведём дроби к наименьшему общему знаменателю \(24\):</p>
            <p>\(26 \frac{3}{4} = 26 \frac{18}{24}\), \(3 \frac{1}{12} = 3 \frac{2}{24}\).</p>
            <p>\(26 \frac{3}{4} + 3 \frac{1}{12} = 26 \frac{18}{24} + 3 \frac{1}{12} = 29 \frac{20}{24} = 29 \frac{5}{6}\) км/ч.</p>
            <p><strong>Ответ:</strong> Скорость теплохода по течению реки \(29 \frac{5}{6}\) км/ч.</p>
        </div>

        <h2>Генерация заданий</h2>
        <p>Нажмите кнопку ниже, чтобы сгенерировать задания.</p>
        <div class="button" onclick="generateTest()">Сгенерировать задания</div>
        <div id="testOutput"></div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('student.learning_materials') }}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i><h4>Назад к списку тем</h4>
            </a>
        </div>
    </div>

    
    <script src="/static/js/script_2.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>