<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вычитание обыкновенных дробей</title>
    <link href="/static/page.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Вычитание обыкновенных дробей</h1>

        <h2>1. Правило вычитания дробей с одинаковыми знаменателями</h2>
        <p>Чтобы из одной дроби вычесть другую дробь с тем же знаменателем, нужно:</p>
        <ol>
            <li>Из числителя уменьшаемого вычесть числитель вычитаемого.</li>
            <li>Знаменатель оставить тот же.</li>
            <li>При необходимости сократить дробь.</li>
        </ol>
        <p>\(\frac{a}{c} - \frac{b}{c} = \frac{a-b}{c}\)</p>
        <div class="example">
            <p><strong>Пример:</strong> \(\frac{4}{7} - \frac{2}{7} = \frac{4-2}{7} = \frac{2}{7}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача.</strong> Два тракториста вместе вспахали \(\frac{7}{12}\) всего поля. При этом первый тракторист вспахал \(\frac{5}{12}\) всего поля. Какую часть поля вспахал второй тракторист? </p>
            <p><strong>Решение:</strong> Чтобы узнать, какую часть поля вспахал строй тракторист, нужно из общего количества \(\frac{7}{12}\) вычесть, сколько вспахал первый тракторист:</p>
            <p>\(\frac{7}{12} - \frac{5}{12} = \frac{7-5}{12} = \frac{2}{12} = \frac{1}{6}\) часть.</p>
            <p><strong>Ответ:</strong> Второй тракторист вспахал \(\frac{1}{6}\) часть поля.</p>
        </div>

        <h2>2. Правило вычитания дробей с разными знаменателями</h2>
        <p>Чтобы вычесть дроби с разными знаменателями, надо:</p>
        <ol>
            <li>Найти наименьшее общее кратное (НОК) знаменателей.</li>
            <li>Привести дроби к общему знаменателю, умножив числитель и знаменатель каждой дроби на соответствующее число.</li>
            <li>Вычесть числители, а знаменатель оставить тот же.</li>
            <li>При необходимости сократить дробь.</li>
        </ol>
        <div class="example">
            <p><strong>Пример:</strong> \(\frac{3}{4} - \frac{1}{6}\)</p>
            <p>НОК(4, 6) = 12</p>
            <p>\(\frac{3}{4} = \frac{3 \cdot 3}{4 \cdot 3} = \frac{9}{12}\)</p>
            <p>\(\frac{1}{6} = \frac{1 \cdot 2}{6 \cdot 2} = \frac{2}{12}\)</p>
            <p>\(\frac{9}{12} - \frac{2}{12} = \frac{9-2}{12} = \frac{7}{12}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача.</strong> На школьной спортивной площадке мальчики играли в баскетбол, а девочки – в волейбол. Игра в баскетбол длилась \(\frac{7}{10}\) ч, а в волейбол –\(\frac{11}{15}\) ч. Какая игра длилась дольше и на сколько? </p>
            <p><strong>Решение:</strong> Для того, чтобы узнать, какая игра длилась дольше и на сколько, нужно из большей дроби вычесть меньшую.</p>
            <p>Приведём дроби к наименьшему общему знаменателю \(30\):</p>
            <p>\(\frac{7}{10} = \frac{21}{30}\), \(\frac{11}{15} = \frac{22}{30}\).</p>
            <p>\(\frac{11}{15} - \frac{7}{10} = \frac{22}{30} - \frac{21}{30} = \frac{1}{30}\) ч.</p>
            <p><strong>Ответ:</strong> Игра в волейбол длилась дольше на \(\frac{1}{30}\) ч.</p>
        </div>

        <h2>3. Правило вычитания смешанных чисел</h2>
        <p>Чтобы найти разност смешанных чисел, надо:</p>
        <ol>
            <li>Дробные части этих чисел привести к наименьшему общему знаменателю.</li>
            <li>Если дробная часть уменьшаемого больше дробной части вычитаемого, то надо отдельно вычесть целые и отдельно дробные части и результаты сложить.</li>
            <li>Если дробная часть уменьшаемого меньше дробной части вычитаемого, то надо представить дробную часть уменьшаемого в виденеправильной дроби, уменьшив на единицу целую часть, и выполнить вычитание по пункту 2.</li>
            <li>При необходимости сократить дробь.</li>
        </ol>
        <div class="example">
            <p><strong>Пример:</strong> \(5 \frac{7}{12} - 1 \frac{5}{8}\)</p>
            <p>НОК(12, 8) = 24.</p>
            <p>Приведём дробные части к наименьшему общему знаменателю 24: \(5 \frac{7}{12} = 5 \frac{14}{24}\); \(1 \frac{5}{8} = 1 \frac{15}{24}\).</p>
            <p>Из дробной части числа \(5 \frac{14}{24}\) нельзя вычесть \(\frac{15}{24}\), так как \(\frac{14}{24} < \frac{15}{24}\). Вычтем единицу из целой части уменьшаемого и представим дробную часть уменьшаемого в виде неправильной дроби: \(5 \frac{7}{12}= 5 \frac{14}{24}= 5 + \frac{14}{24}= 4 + 1 +  \frac{14}{24}= 4 + \frac{24}{24} + \frac{14}{24}= 4 + \frac{38}{24}= 4\frac{38}{24}\).  </p>
            <p>Получаем: \(5 \frac{7}{12} - 1 \frac{5}{8}=5 \frac{14}{24} - 1 \frac{15}{24}=4 \frac{38}{24} - 1 \frac{15}{24}=3 \frac{23}{24}\).</p>
            <p>Итог: \(3 \frac{23}{24}\)</p>
        </div>
        <div class="example">
            <p><strong>Задача 1.</strong> Найдите высоту рябины, если высота ели \(6 \frac{4}{5}\) м, а рябина на \(4 \frac{2}{5}\) м ниже ели. </p>
            <p><strong>Решение:</strong> Для того, чтобы найти высоту рябины, нужно из высоты ели \(6 \frac{4}{5}\) м вычесть \(4 \frac{2}{5}\) м, так как как сказано, что рябина ниже ели на \(4 \frac{2}{5}\) м: </p>
            <p>\(6 \frac{4}{5} – 4 \frac{2}{5} = 2 \frac{2}{5}\) м.</p>
            <p><strong>Ответ:</strong> Высота рябина \(2 \frac{2}{5}\) м.</p>
        </div>
        <div class="example">
            <p><strong>Задача 2.</strong> Скорость теплохода по течению реки равна \(29 \frac{5}{6}\) км/ч, а по озеру – \(26 \frac{3}{4}\) км/ч. Найдите скорость течения реки.</p>
            <p><strong>Решение:</strong> Чтобы найти скорость течения реки, надо из скорости течения реки \(29 \frac{5}{5}\) км/ч вычесть скорость теплохода по озеру \(26 \frac{3}{4}\) км/ч.</p>
            <p>Приведём дроби к наименьшему общему знаменателю \(24\):</p>
            <p>\(29 \frac{5}{6} = 29 \frac{20}{24}\), \(26 \frac{3}{4} = 26 \frac{18}{24}\).</p>
            <p>\(29 \frac{5}{6} – 26 \frac{3}{4} = 29 \frac{20}{24} – 26 \frac{18}{24} = 3 \frac{2}{24} = 3 \frac{1}{2}\) км/ч.</p>
            <p><strong>Ответ:</strong> Скорость течения реки \(3 \frac{1}{2}\) км/ч.</p>
        </div>

        <h2>Генерация заданий</h2>
        <p>Нажмите кнопку ниже, чтобы сгенерировать задания.</p>
        <div class="button" onclick="generateTest()">Сгенерировать задания</div>
        <div id="testOutput"></div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('student.learning_materials') }}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-2"></i><h4>Назад к списку тем</h4>
            </a>
        </div>
    </div>
    <script src="/static/js/script_3.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>